<div id="screenshot-character-count">
  <div style="margin: 50px;">

    <form [formGroup]="testForm">

      <div style="display: flex;">
        <label for="input-count-example" class="sky-control-label" style="flex-grow: 1;">
          First name
        </label>

        <sky-character-counter-indicator
          #indicator>
        </sky-character-counter-indicator>
      </div>

      <input
        type="text"
        class="sky-form-control"
        formControlName="firstName"
        skyCharacterCounter
        [skyCharacterCounterIndicator]="indicator"
        [skyCharacterCounterLimit]="maxCharacterCount"
      />

      <div *ngIf="firstName.errors?.skyCharacterCounter" class="sky-error-label">
        Limit First name to {{maxCharacterCount}} characters.
      </div>
    </form>
    <button (click)="inc()">Inc</button>
    <button (click)="dec()">Dec</button>
    <p>{{firstName.valid}}</p>
  </div>
</div>
