<span
  class="sky-toggle-switch"
>
  <button
    class="sky-toggle-switch-button"
    role="switch"
    type="button"
    [attr.aria-checked]="checked"
    [attr.aria-label]="ariaLabel"
    [attr.aria-labelledby]="labelElementId"
    [attr.aria-readonly]="disabled"
    [ngClass]="{
      'sky-toggle-switch-checked': checked,
      'sky-toggle-switch-readonly': disabled
    }"
    [tabIndex]="tabIndex"
    (blur)="onButtonBlur()"
    (click)="onButtonClick($event)"
  >
    <i
      class="sky-toggle-switch-indicator"
      role="presentation"
    >&nbsp;</i> <!-- Non-breaking space needed to align switch to baseline! -->
  </button>

  <label *ngIf="!ariaLabel"
    class="sky-toggle-switch-label"
    [attr.id]="labelElementId"
  >
    <ng-content></ng-content>
  </label>
</span>