<label
  class="sky-toggle-switch-wrapper sky-switch"
  [ngClass]="{ 'sky-toggle-switch-disabled': disabled }"
>
  <button
    class="sky-toggle-switch-button"
    role="switch"
    [disabled]="disabled"
    [attr.aria-checked]="checked"
    [attr.aria-label]="ariaLabel"
    [attr.aria-labelledby]="ariaLabelledBy"
    [ngClass]="{ 'sky-toggle-switch-checked': checked }"
    [tabIndex]="tabIndex"
    (blur)="onInputBlur()"
    (click)="onInteractionEvent($event)"
  ></button>
  <span
    class="sky-toggle-switch-slider"
  ></span>
  <ng-content
    select="sky-toggle-switch-label"
  ></ng-content>
</label>
