<div
  class="sky-file-drop-row"
  [ngClass]="{
    'sky-file-drop-allow-links': allowLinks,
    'sky-file-drop-disabled': disabled
  }"
>
  <div
    class="sky-file-drop-col"
    [ngClass]="{
      'sky-file-drop-accept': acceptedOver,
      'sky-file-drop-reject': rejectedOver
    }">

    <button
      class="sky-file-drop sky-file-drop-target"
      type="button"
      [attr.aria-label]="'skyux_file_attachment_file_upload_drag_or_click' | skyLibResources"
      [disabled]="disabled"
      (click)="dropClicked()"
      (dragenter)="fileDragEnter($event)"
      (dragover)="fileDragOver($event)"
      (dragleave)="fileDragLeave($event)"
      (drop)="fileDrop($event)"
    >
    </button>

    <input
      aria-hidden="true"
      class="sky-file-input-hidden"
      tabindex="-1"
      type="file"
      [attr.accept]="acceptedTypes ? acceptedTypes: null"
      [attr.multiple]="multiple ? multiple: null"
      [disabled]="disabled"
      (change)="fileChangeEvent($event)"
      #fileInput
    />

    <div class="sky-file-drop-contents sky-padding-even-default" *ngIf="customEl.children.length === 0">
      <div class="sky-file-drop-contents-not-over">
        <div class="sky-file-drop-text-header sky-headline">
          {{ 'skyux_file_attachment_file_upload_drag_file_here' | skyLibResources }}
        </div>
        <div class="sky-file-drop-text">
          {{ 'skyux_file_attachment_file_upload_or_click_to_browse' | skyLibResources }}
        </div>
        <sky-icon icon="cloud-upload" class="sky-file-upload-icon"></sky-icon>
      </div>

      <!-- This will appear when file is dragged over and is valid -->
      <div class="sky-file-drop-contents-accept" >
        <div class="sky-file-drop-text-header sky-headline">
          {{ 'skyux_file_attachment_file_upload_drop_files_here' | skyLibResources }}
        </div>
        <sky-icon icon="bullseye" class="sky-file-upload-icon"></sky-icon>
      </div>

      <!-- This will appear when file is dragged over and is invalid -->
      <div class="sky-file-drop-contents-reject" >
        <div class="sky-file-drop-text-header sky-headline">
          {{ 'skyux_file_attachment_file_upload_invalid_file' | skyLibResources }}
        </div>
        <sky-icon icon="times-circle" class="sky-file-upload-icon"></sky-icon>
      </div>
    </div>

    <div class="sky-file-drop-contents-custom" #customEl>
      <ng-content></ng-content>
    </div>
  </div>
  <div class="sky-file-drop-col" *ngIf="allowLinks">
    <div class="sky-file-drop-contents sky-padding-even-default">
      <div class="sky-file-drop-link">
        <div class="sky-file-drop-link-header">
          <div class="sky-file-drop-text-header sky-headline">
            {{ 'skyux_file_attachment_file_upload_paste_link' | skyLibResources }}
          </div>
        </div>
        <div class="sky-form-group">
          <input
            class="sky-form-control"
            type="text"
            [attr.aria-label]="'skyux_file_attachment_file_upload_link_input' | skyLibResources"
            [attr.placeholder]="'skyux_file_attachment_file_upload_link_placeholder' | skyLibResources"
            [disabled]="disabled"
            [(ngModel)]="linkUrl"
            (keyup)="addLinkEnter($event)"
          />
        </div>
        <button
          class="sky-btn sky-btn-primary"
          type="button"
          [disabled]="!linkUrl || disabled"
          (click)="addLink($event)">
          {{ 'skyux_file_attachment_file_upload_paste_link_done' | skyLibResources }}
        </button>
      </div>
    </div>
  </div>
</div>
