<div
  class="sky-file-attachment-wrapper"
>
  <div
    class="sky-file-attachment-label-wrapper"
    [ngClass]="{ 'sky-control-label-required': required && hasLabelComponent }"
    [attr.id]="labelElementId"
  >
    <ng-container *ngTemplateOutlet="labelContent"
    ></ng-container>
  </div>
  <div
    class="sky-file-attachment-upload sky-file-attachment sky-file-attachment-target"
    [ngClass]="{ 'sky-file-attachment-accept': acceptedOver, 'sky-file-attachment-reject': rejectedOver }"
    (dragover)="fileDragOver($event)"
    (dragenter)="fileDragEnter($event)"
    (dragleave)="fileDragLeave($event)"
    (drop)="fileDrop($event)"
  >
    <input
      type="file"
      hidden
      tabindex="-1"
      aria-hidden="true"
      [attr.accept]="acceptedTypes ? acceptedTypes: null"
      (change)="fileChangeEvent($event)"
      #fileInput
    >
    <button
      type="button"
      class="sky-file-attachment-btn sky-btn sky-btn-default"
      [attr.aria-label]="'skyux_file_attachment_file_upload_drag_or_click' | skyLibResources"
      [attr.aria-labelledby]="(hasLabelComponent) ? labelElementId : null"
      (click)="onDropClicked()"
    >
        <sky-icon
          icon="folder-open-o"
        ></sky-icon>
      {{ value ? 'Replace File' : 'Choose File' }}
    </button>
    <span
      class="sky-file-attachment-name"
      (click)="onDropClicked()"
    >
      <i
        class="sky-file-attachment-name-text"
      >
        {{ getFileName() }}
      </i>
    </span>
    <button *ngIf="value"
      type="button"
      class="sky-btn sky-file-attachment-delete"
      [attr.aria-label]="'skyux_file_attachment_file_item_delete' | skyLibResources"
      (click)="deleteFileAttachment()"
    >
        <sky-icon
          icon="trash"
          size="md"
        ></sky-icon>
    </button>
  </div>

  <div *ngIf="value && isImage()"
  >
    <img
      class="sky-file-attachment-preview-img"
      [src]="value.url"
      [alt]="'skyux_file_attachment_file_upload_image_preview_alt_text' | skyLibResources"
    />
  </div>
</div>

<ng-template
  #labelContent
>
    <ng-content
      select="sky-file-attachment-label"
    ></ng-content>
</ng-template>
