<label
  class="sky-toggle-wrapper sky-switch"
  [ngClass]="{ 'sky-switch-disabled': disabled }">
  <button
    role="switch"
    [ngClass]="{ 'sky-toggle-checked': checked }"
    [disabled]="disabled"
    [attr.aria-checked]="checked"
    [attr.aria-label]="ariaLabel"
    [attr.aria-labelledby]="ariaLabelledBy"
    (blur)="onInputBlur()"
    (click)="onInteractionEvent($event)"
    [tabIndex]="tabindex">
  </button>
  <span
    class="sky-toggle-slider">
  </span>
  <ng-content
    select="sky-toggle-label">
  </ng-content>
</label>
