<form
  class="sky-padding-even-large"
  [formGroup]="myForm"
  (ngSubmit)="onSubmit(myForm.value)"
>

  <div
    class="sky-margin-stacked-default"
    id="screenshot-selection-box-radio"
  >
    <h3
      class="sky-control-label"
    >
      radio
    </h3>
    <sky-radio-group
      formControlName="favoriteColor"
      value="red"
    >
      <sky-selection-box *ngFor="let item of radioArray; let index = i"
        [control]="radio"
      >
        <sky-selection-box-icon
          [icon]="item.icon"
          [iconType]="item.iconType"
        ></sky-selection-box-icon>
        <sky-selection-box-header>
          {{ item.header }}
        </sky-selection-box-header>
        <sky-radio
          (checked)="onChecked($event)"
          [value]="item.name"
          #radio
        >
        </sky-radio>
      </sky-selection-box>
    </sky-radio-group>
  </div>

  <div
    class="sky-margin-stacked-default"
    formArrayName="getStarted"
    id="screenshot-selection-box-checkboxes"
  >
    <h3
      class="sky-control-label"
    >
      checkboxes
    </h3>
    <sky-selection-box *ngFor="let item of getStartedArray; let i = index"
      [control]="checkbox"
    >
      <sky-selection-box-icon
        [icon]="item.icon"
        [iconType]="item.iconType"
      ></sky-selection-box-icon>
      <sky-selection-box-header>
        {{ item.header }}
      </sky-selection-box-header>
      <sky-selection-box-description>
        {{ item.description }}
      </sky-selection-box-description>
      <sky-checkbox
        [formControlName]="i"
        #checkbox
      >
      </sky-checkbox>
    </sky-selection-box>
  </div>

  <button
    type="submit"
  >
    Submit
  </button>

</form>
