<form
  class="sky-padding-even-large"
  [formGroup]="myForm"
  (ngSubmit)="onSubmit(myForm.value)"
>

  <div
    class="sky-margin-stacked-default"
    id="screenshot-selection-box-radio"
  >
    <h3>
      Radio buttons
    </h3>
    <sky-radio-group
      formControlName="radioGroup"
    >
      <sky-selection-box *ngFor="let item of radioArray"
        [control]="radio"
      >
        <sky-icon
          [icon]="item.icon"
          [iconType]="item.iconType"
        ></sky-icon>
        <sky-selection-box-header>
          {{ item.header }}
        </sky-selection-box-header>
        <sky-selection-box-description>
          {{ item.description }}
        </sky-selection-box-description>
        <sky-radio
          [value]="item.name"
          #radio
        >
        </sky-radio>
      </sky-selection-box>
    </sky-radio-group>
  </div>

  <div
    class="sky-margin-stacked-default"
    formArrayName="checkboxGroup"
    id="screenshot-selection-box-checkboxes"
  >
    <h3>
      Checkboxes
    </h3>
    <sky-selection-box *ngFor="let item of checkboxArray; let i = index"
      [control]="checkbox"
    >
      <sky-icon
        [icon]="item.icon"
        [iconType]="item.iconType"
      ></sky-icon>
      <sky-selection-box-header>
        {{ item.header }}
      </sky-selection-box-header>
      <sky-selection-box-description>
        {{ item.description }}
      </sky-selection-box-description>
      <sky-checkbox
        [formControlName]="i"
        #checkbox
      >
      </sky-checkbox>
    </sky-selection-box>
  </div>

  <div
    class="sky-margin-stacked-default"
    formArrayName="checkboxNoIconsGroup"
    id="screenshot-selection-box-checkboxes-no-icons"
  >
    <h3>
      Without icons
    </h3>
    <sky-selection-box *ngFor="let item of checkboxArray; let i = index"
      [control]="checkbox"
    >
      <sky-selection-box-header>
        {{ item.header }}
      </sky-selection-box-header>
      <sky-selection-box-description>
        {{ item.description }}
      </sky-selection-box-description>
      <sky-checkbox
        [formControlName]="i"
        #checkbox
      >
      </sky-checkbox>
    </sky-selection-box>
  </div>

  <button
    type="submit"
  >
    Submit
  </button>

</form>
