:host {
  // Force the icon and counter text to not wrap with a long form label
  flex-shrink: 0.0001;
}

.sky-character-count-label {
  .sky-error-label {
    margin: 0;
  }
}

.sky-screen-reader-only {
  position: absolute;
  margin: -1px 0 0 -1px;
  padding: 0;
  display: block;
  width: 1px;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
  outline: 0;
}
