<h1>
  Visual tests
</h1>

<ul>
  <li>
    <a routerLink="visual/character-count">Character count</a>
  </li>
  <li>
    <a routerLink="visual/checkbox">Checkbox</a>
  </li>
  <li>
    <a routerLink="visual/file-attachment">File attachment</a>
  </li>
  <li>
    <a routerLink="visual/input-box">Input box</a>
  </li>
  <li>
    <a routerLink="visual/radio">Radio</a>
  </li>
  <li>
    <a routerLink="visual/selection-box">Selection box</a>
  </li>
  <li>
    <a routerLink="visual/single-file-attachment">Single file attachment</a>
  </li>
  <li>
    <a routerLink="visual/toggle-switch">Toggle switch</a>
  </li>
</ul>
