@import "~@skyux/theme/scss/mixins";
@import "~@skyux/theme/scss/_compat/mixins";

.sky-selection-box-icon-container {
  color: $sky-text-color-action-primary;
  background: #e8f8ff;
  padding: 5px;
  border-radius: 50%;
  width: 42px;
  height: 42px;

  .sky-selection-box-icon {
    position: relative;
    left: 1px;
    top: -6px;
  }
}
