@import "~@skyux/theme/scss/mixins";
@import "~@skyux/theme/scss/_compat/mixins";

.sky-selection-box-grid {
  display: flex;
  flex-flow: row wrap;
  padding: 0 7.5px;
  margin: 0 auto;

  &.sky-selection-box-grid-align-center {
    justify-content: center;
  }

  &.sky-selection-box-grid-align-left {
    justify-content: flex-start;
  }

  ::ng-deep > sky-selection-box {
    margin: 0 7.5px 15px;
    height: 100%;
  }

  &.sky-responsive-container-sm {
    max-width: 374px;

    ::ng-deep > sky-selection-box {
      flex: 0 1 344px;
    }
  }

  &.sky-responsive-container-md {
    max-width: 937px;

    ::ng-deep > sky-selection-box {
      flex: 0 1 446px;
    }
  }

  &.sky-responsive-container-lg {
    max-width: 1398px;

    ::ng-deep > sky-selection-box {
      flex: 0 1 446px;
    }
  }
}
