<button
  class="sky-selection-box sky-box sky-rounded-corners sky-btn sky-btn-default"
  tabindex="0"
  type="button"
  [ngClass]="{
    'sky-selection-box-selected' : checked
  }"
  (click)="onButtonClick()"
  (keydown.enter)="onEnter()"
  #skySelectionBoxButton
>
  <ng-content
    select="sky-selection-box-icon"
  ></ng-content>
  <div
    class="sky-selection-box-text-container"
  >
    <div
      skyId
      #headerId="skyId"
    >
      <ng-content
        select="sky-selection-box-header"
      ></ng-content>
    </div>
    <ng-content
      select="sky-selection-box-description"
    ></ng-content>
  </div>
  <sky-checkbox *ngIf="type === 'checkbox'"
    [checked]="checked"
    [required]="required"
    (change)="onCheckboxChange($event);"
    (click)="onControlClick($event)"
    #checkboxComponent
  >
  </sky-checkbox>
  <sky-radio *ngIf="type === 'radioButton'"
    [labelledBy]="headerId"
    [value]="value"
    (click)="onControlClick($event)"
    #radioComponent
  >
  </sky-radio>
</button>
