<button
  class="sky-selection-box sky-box sky-rounded-corners sky-btn sky-btn-default"
  tabindex="0"
  type="button"
  [ngClass]="{
    'sky-selection-box-selected' : checked
  }"
  (click)="onButtonClick($event)"
  #skySelectionBoxButton
>
  <ng-content
    select="sky-selection-box-icon"
  ></ng-content>
  <div
    class="sky-selection-box-text-container"
  >
    <ng-content
      select="sky-selection-box-header"
    ></ng-content>
    <ng-content
      select="sky-selection-box-description"
    ></ng-content>
  </div>

  <div
    #controlEl
  >
    <ng-content
      select="sky-radio"
    ></ng-content>
    <ng-content
      select="sky-checkbox"
    ></ng-content>
  </div>
</button>
