<div
  class="sky-selection-box sky-box sky-rounded-corners sky-btn sky-btn-default"
  role="button"
  tabindex="0"
  type="button"
  [ngClass]="{
    'sky-selection-box-selected' : checked
  }"
  (click)="onClick($event)"
  (keydown)="onKeydown($event)"
  #selectionBox
>

  <div
    class="sky-selection-box-icon"
    [ngStyle]="{ 'display': !icon.innerHTML.trim() ? 'none' : '' }"
    #icon
  >
    <ng-content
      select="sky-icon"
    ></ng-content>
  </div>

  <div
    class="sky-selection-box-content"
  >
    <div
      class="sky-selection-box-header sky-headline"
    >
      <ng-content
        select="sky-selection-box-header"
      ></ng-content>
    </div>
    <div
      class="sky-selection-box-description"
      [ngClass]="{
        'sky-font-deemphasized' :
          (themeSvc?.settingsChange | async)?.currentSettings.theme.name === 'modern',
        'sky-deemphasized' :
          (themeSvc?.settingsChange | async)?.currentSettings.theme.name === 'default'
      }"
    >
      <ng-content
        select="sky-selection-box-description"
      ></ng-content>
    </div>
  </div>

  <div
    class="sky-selection-box-control"
    #control
  >
    <ng-content
      select="sky-radio"
    ></ng-content>
    <ng-content
      select="sky-checkbox"
    ></ng-content>
  </div>
</div>
